 
    

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: roboto ;
  
  }
  .form{
    position: absolute;
    top: 42%;
    left: 42%;
    transform: translate(-10%,-40%);
    box-sizing: border-box;
    background-color: rgba(0, 0, 0,0.5);
    padding: 70px;
    border-radius: 15px;
    border: 1px, solid,#fff;
  }
.titre{
  margin:0 ;
  padding: 0 20px;
  font-weight: bold;
  color:rgb(8, 102, 146);

}
.stitre{
  margin:0 ;
  padding: 0 20px;
  font-weight: bold;
  color:rgb(7, 193, 250);
}
.form p{
  margin:0 ;
  padding: 0;
  color: silver;
  font-weight: normal;
}
p{
  color: silver;
  font-weight: normal;
}
.sub, .res {
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  color: silver; 
  padding: 10px 25px;
  background-color: rgb(6, 36, 61);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  }
  .sub:hover{
  color: slateblue;
  }
   .res:hover{
  color: slateblue;
  }


body   {
    display: inline;
    min-height: 100%;
    background-image: url("https://image.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
     }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-bar{
    list-style: none;  
  }
  .nav-bar li {
   display: inline-block;
   padding: 0px 20px;
  }
  .nav-bar li a {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: silver;
  }
  .nav-bar li a:hover {
    color: slateblue;
  }
  button{
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  color: silver; 
  padding: 10px 25px;
  background-color: rgb(6, 36, 61);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  }
  button:hover{
  color: slateblue;
  }
  footer {
    font-family: 'Roboto';
  font-size: small;
  color: silver;
    clear: both;
    position: relative;
    height: 290px;
    margin-top:510px;
}

.social-media{
   
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  border: none;
  cursor: pointer;
}


    
  
  